<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.schachte.android.proactive_food_app">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.sensor.stepcounter" />
    <uses-feature android:name="android.hardware.sensor.stepdetector" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/taco_in_a_toaster"
        android:label="SmartFood"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver
            android:name=".util.BootComplete"
            android:enabled="true"
            android:exported="false" >
            <!--<intent-filter>-->
                <!--&lt;!&ndash;<action android:name="android.intent.action.BOOT_COMPLETED" />&ndash;&gt;-->
            <!--</intent-filter>-->
        </receiver>

        <service android:name=".util.PedometerStart" >
        </service>


        <activity
            android:name=".activities.HomeActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".activities.PreferencesActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activities.category_activity.CategoryActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activities.AddIngredientsActivity"
            android:parentActivityName=".activities.HomeActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activities.ingredient_list_activity.PantryActivity"
            android:parentActivityName=".activities.HomeActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activities.add_ingredient_activities.AutoIngredientActivity"
            android:parentActivityName=".activities.AddIngredientsActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activities.add_ingredient_activities.ManualIngredientActivity"
            android:parentActivityName=".activities.AddIngredientsActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activities.recipe_list_activity.RecipeListActivity"
            android:parentActivityName=".activities.HomeActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activities.recipe_detail_activity.RecipeDetailActivity"
            android:parentActivityName=".activities.recipe_list_activity.RecipeListActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activities.RecipeFavoriteActivity"
            android:parentActivityName=".activities.HomeActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activities.WebActivity"
            android:parentActivityName=".activities.recipe_detail_activity.RecipeDetailActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>